---
layout: page
title: Ilma Aliya Fiddien
# Index page
---

{% include lang.html %}
<!-- <img src="assets/norobots/profile_small.png" alt="author" style="float: right; width: 120px; max-width: 50%; margin:10px 0px 16px 16px; pointer-events: none;"> -->

<p>
    <a href="">Ilma</a> is a student of MSc Speech and Language Processing at the University of Edinburgh, sponsored by Indonesia Endowment Fund for Education (LPDP).
</p>
<p>
    She writes in <a href="/blog">this blog</a> and <a href="https://fiddien.medium.com">Medium</a> to reflect from her experiences and to cristalise what she has learned. All are for progressing a self to be more virtuous.
</p>
<p>
    <a href="mailto:ilmaaliyaf@gmail.com">Email</a>, <a href="https://linkedin.com/in/fiddien">connect</a>, or follow along her <a href="https://goodreads.com/fiddien">reading list</a>.
</p>
<!-- <blockquote>
<p><em>&quot;Read: In the name of your Lord Who created, created human from a clot. Read: And your Lord is the Most Generous, Who taught by the pen, taught human that which he knew not.&quot;</em> --QS 96:19</p>
</blockquote>
<p>The notion of &quot;understanding the underlying principle of intelligence&quot; fascinates her. She want to dig deep into the <em>why</em>, <em>how</em>, and <em>what</em> is intelligence.  That&#39;s why she&#39;s very into philosophy, psychology, language, spirituality, and technology; the areas that have something to say about intelligence.</p>
<blockquote>
<p><em>&quot;Deep in the human unconscious is a pervasive need for a logical universe that makes sense. But the real universe is always one step beyond logic.&quot;</em> --Frank Herbert, <em>Dune</em></p>
</blockquote> -->

Here are some of the highlighted posts:

{% assign fronted = site.posts | where: "front", "true" %}
{% assign default = site.posts | where_exp: "item", "item.front != true and item.hidden != true" %}
{% assign posts = "" | split: "" %}
{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign fronted_num = fronted.size | minus: offset %}

<!-- {% if fronted_num > 0 %}
  {% for i in (offset..fronted.size) limit: fronted_num %}
    {% assign posts = posts | push: fronted[i] %}
  {% endfor %}
{% else %}
  {% assign fronted_num = 0 %}
{% endif %} -->


<ul>
    <li><a href="https://fiddien.com/categories/essay/" class="post-tag no-text-decoration">Essays</a></li>

    {% for post in posts %}
    
    <li>
        <a href="{{ post.url | relative_url }}" class="post-tag no-text-decoration">{{ post.title }}</a>
        <sup> 
            <!-- time to read -->
            <span>
                <!-- <i class="far fa-clock fa-fw"></i> -->
                {% include read-time.html content=post.content %}
            </span>

            <!-- post language -->
            {% if post.language %}
                <span>
                    | {{ post.language }}
                </span>
            {% endif %}
            <!-- language -->
            
        </sup>
    </li>

    {% endfor %}
</ul>
    