{% comment %}
  Get other latest poems.
{% endcomment %}

{% assign MAX_SIZE = 10 %}

{% assign all_list = "" | split: "" %}

{% for poem in site.poems %}
  {% if poem.date %}
    {% capture elem %}
      {{- poem.date | date: "%Y%m%d%H%M%S" -}}::{{- forloop.index0 -}}
    {% endcapture %}
    {% assign all_list = all_list | push: elem %}
  {% endif %}
{% endfor %}

{% assign all_list = all_list | sort | reverse %}

{% assign update_list = "" | split: "" %}

{% for entry in all_list limit:MAX_SIZE %}
  {% assign update_list = update_list | push: entry %}
{% endfor %}

{% if update_list.size > 0 %}

  <div id="access-lastmod" class="post">
    <div class="panel-heading">{{- site.data.locales[lang].panel.other_poems -}}</div>
    <!-- <div class="panel-heading">Read Other Poems</div> -->
    <ul class="post-content pl-0 pb-1 ml-1 mt-2">
      {% for item in update_list %}
        {% assign index = item | split: "::" | last | plus: 0 %}
        {% assign post = site.poems[index] %}
        {% assign url = post.url | relative_url %}
      <li><a href="{{ url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div> <!-- #access-last poems -->

{% endif %}