<!-- Begin Mailchimp Signup Form -->

<div id="subs-form-wrapper" class="pl-0 pr-4 mb-5">
	<!-- heading -->
	<div class="panel-heading pl-3 mb-2">{{- site.data.locales[lang].panel.subscription_form -}}</div>
	
	<!-- the form -->
	<div id="mc_embed_signup" class="mb-2">
		<form action="https://gmail.us20.list-manage.com/subscribe/post?u=f0d6a5606b79140ac1b7071bc&amp;id=ba229f92f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

			<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div> <!-- .mce-EMAIL -->

			<div class="mc-field-group">
				<label for="mce-FNAME">Name  <span class="asterisk">*</span>
			</label>
				<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
			</div> <!-- .mce-FNAME -->

			<!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->

			<div id="mce-responses" class="clear foot">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div> <!-- .mce-responses -->

			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f0d6a5606b79140ac1b7071bc_ba229f92f6" tabindex="-1" value=""></div>
				<div class="optionalParent">
					<div class="clear foot">
						<input type="submit" value="Follow" name="subscribe" id="mc-embedded-subscribe" class="button">
					</div>
				</div>
			</div> <!-- end of submit button -->
		</form>
	</div> <!-- .mc_embed_signup -->
</div> <!-- .subs-form-wrapper -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->