/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

.btn-outline-primary {
  color: #ffc153;
  border-color: #ffc153;
}

// Disqus
div#disqus_thread iframe[sandbox] {
  max-height: 0px !important;
}

// #disqus_thread {
//   overflow: hidden;
//   overflow-x:hidden;

//   iframe {
//     margin-bottom: -54px;
//   }
// }

// Youtube
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#subs-form-wrapper {
  border-left: 1px solid rgba(158, 158, 158, 0.17);
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  transition: top 0.2s ease-in-out;
  animation: fade-up 0.8s;
}