/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

.btn-outline-primary {
  color: #ffc153;
  border-color: #ffc153;
}

div#disqus_thread iframe[sandbox] {
  max-height: 0px !important;
}