---
---

@import '{{ site.theme }}';

/* append your custom style below */

/* Gallery */
#gallery {
    padding: 0.5rem; 
    margin-top: 1.5rem; 
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

  img.cover {
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  img.cover:hover {
    opacity: 1;
    transition: all 0.2s ease-in;
  }

  h1.gallery-item-title {
    font-size: 1.25rem;
    margin: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a.gallery-item {
    color: var(--text-color);
    max-width: 100%;
    max-height: calc(50% - 1rem);
    margin: 0.5rem;
    flex: 1 1 30%;
    border: 0;
    border-radius: 10px;
    background: var(--card-bg);
    box-shadow: var(--card-shadow);
    text-align: center;
  }
  
  a.gallery-item:hover {
    background-color: var(--tag-hover);
    transition: all 0.2s ease-in;
  }
/*-- gallery --*/

