---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="pl-xl-3">

<!-- Concatenate the posts, poems, and projects -->
{% assign posts = site.posts | concat: site.poems | concat: site.projects | sort: 'date' | reverse %}

{% for post in posts %}
  {% capture cur_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% if post.layout == 'poems' %}
    {% assign font_style = 'italic' %}
  {% else %}
    {% assign font_style = 'normal' %}
  {% endif %}

  {% if cur_year != last_year %}
    {% unless forloop.first %}</ul>{% endunless %}
    <div class="year lead">{{ cur_year }}</div>
    <ul class="list-unstyled">
    {% assign last_year = cur_year %}
  {% endif %}

  <li>
  {% assign ts = post.date | date: '%s' %}
    <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: "%d" }}</span>
    <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
      {{ post.date | date: df_strftime_m }}
    </span>
    {% if post.layout == 'poem' %}
      <a href="{{ post.url | relative_url }}" style="font-style: italic;">{{ post.title }}</a>
    {% elsif post.layout == 'project' %}
      <a href="{{ post.url | relative_url }}" style="font-weight: bold;">{{ post.title }}</a>
    {% else %}
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    {% endif %}
  </li>

  {% if forloop.last %}</ul>{% endif %}

{% endfor %}

</div>
