---
layout: page
---

<style>
  [class='access'] {
    display: none;
  }
</style>

{% include lang.html %}

{% if page.image.path %}
  {% capture bg %}
    {% unless page.image.no_bg %}{{ 'bg' }}{% endunless %}
  {% endcapture %}
  <img loading=lazy src="{{ page.image.path }}" class="preview-img {{ bg | strip }}"
      alt="{{ page.image.alt | default: "Preview Image" }}"

      {% if page.image.width %}
        width="{{ page.image.width }}"
      {% elsif page.image.w %}
        width="{{ page.image.w }}"
      {% endif %}

      {% if page.image.height %}
        height="{{ page.image.height }}"
      {% elsif page.image.h %}
        height="{{ page.image.h }}"
      {% endif %}>
{% endif %}

<h1 data-toc-skip style="text-align: center;">{{ page.title }}</h1>


<div class="post-content" style="text-align: center;">
  {{ content }}
</div>

<!-- Post meta -->
<div class="post-meta text-muted" style="padding-top: 1rem; margin-left: auto; margin-right: auto; text-align: center;">
  <!-- <div class="d-flex justify-content-between"> -->

    <!-- published date -->
    <span>
      {{ site.data.locales[lang].post.posted }}
      {% include datetime.html date=page.date tooltip=true lang=lang %}
    </span>
  <!-- </div> -->
</div>
<!-- end post meta -->
